
* {
    font-family:var(fontMontSerrat);
    
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
 --fontMontSerrat: 'Montserrat', sans-serif;
}

body {
    background-color:grey;
    color:white;
}

.primary-bg-color {
    background-color:#252525;
}

.secondary-bg-color {
    background-color:#C09578;
}

.light-bg-color {
    background-color:#fcf5eb;
}

.dark-bg-color {
    background-color:#101010;
}

.primary-color {
    color:#c09578;
}

.light-color {
    color: #Fcf5eb;
}