h1 {
    color:crimson;
}

.btn-primary {
    background-color:crimson;
    border-color:crimson;
}

.btn-primary:hover {
    background-color:crimson;
    border:none;
}


.container, .container-fluid {
  background-color:#666;

}

/*Container Breakpoints*/

.container-md {
    border: 2px solid red;
}

.container-lg {
    border:2px solid blue;
}

.container-sm {
    border:2px solid green;
}